<script>
$(document).ready(function() {
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
});
</script>

<div style="background-color: black; width: 100vw; color: white;">
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header" style="font-size: 10vh; color: white;">ABOUT <br/> WAGIO</h1>
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header"></h1>
</div>




<div class="ui">





  <div class="ui vertical segment" style="background-color: #034f84; padding: 0;">
    <div class="ui stackable grid">
      <div class="ten wide column" style="padding: 5%;">
        <h1 class="ui font-3">
          What is WAGIO?
          <!-- <span class="sub">It'll blow your mind.</span> -->
        </h1>
        <p class="font-1">WAGIO is a software designed to help the flow of donations easier and without a hassle with exclusive customer rewards based upon their needs.
          <br/>
          <br/>
          We donate to environmental start-up companies that involve in the areas of wildlife and green life, which would be our main priority and target. We want to try to be involved in every company possible trying to make a change in this environment. We will also target a lot of other foundations off course, but we DO NOT participate or consider partnering with medical researches or treatments as there are plenty of foundations and companies for that, which makes us unique.
        </p>
      </div>
      <div class="six wide right aligned column" style="padding: 0;">
        <img
          class="ui image image-tint-1"
          src="/images/carousel/1.jpg"
        />
      </div>
    </div>
  </div>

  <div class="ui vertical segment" style="background-color: #c94c4c; padding: 0;">
    <div class="ui stackable grid">
      <div class="six wide column"style="padding: 0; min-height: 350px;">
        <img
          class="ui image image-tint-1 full-width-size full-height-size"
          src="/images/carousel/2.jpg"
        />
      </div>
      <div class="ten wide column" style="padding: 5%; min-height: 350px;">
        <p class="font-1">
          Our donations can vary every month as we can see how many people are acting up to change the environment, but to change, these companies need help, and that is when WAGIO comes along. For our users, they will get always feel rewards and proven to where their money goes to as WAGIO provides weekly media to their users. This will ensure a smile to every user to see what they how helped with. 
          <br/>
          <br/>
          We would also like to get involved with special need children to include them for the environment to help especially with wildlife as it will provide more jobs for them and help them feel more involved with the world and that they have also been valuable since the start. 
          <br/>
          <br/>
          WAGIO strongly believes the right of every human on earth to participate in changing the environment for a better future.
        </p>
      </div>
    </div>
  </div>
  
  <div class="ui vertical segment" style="background-color: #ff7b25; padding: 0;">
    <div class="ui stackable grid">
      <div class="ten wide column" style="padding: 5%; min-height: 350px;">
        <p class="font-1">
          WAGIO also DOES NOT ACCEPT any account information from the user. WAGIO will not hold any sort of database of the users debit card numbers, credit cards etc. 
          <br/>
          WAGIO is basically a product purchase that comes in a bundle and will be easily purchased through our app with a monthly subscription fee of whatever the user desires but a maximum of $2 and a minimum of 25 cents. The purchase of the bundle is basically the same way done as buy a product online with interact or visa, which is one a time purchase but provided off course the monthly subscription. Our users will be highly involved with WAGIO almost weekly
          <br/>
          <br/>
          WAGIO will have the license agreement uploaded with every donation start-up companies.
          <br/>
          <br/>
          WAGIO will also contribute towards environmental friendly events year round.
        </p>
      </div>
      <div class="six wide right aligned column" style="padding: 0;">
        <img
          class="ui image image-tint-1"
          src="/images/carousel/3.jpg" style="min-height: 350px;"
        />
      </div>
    </div>
  </div>


</div>



      
