<style>
.contact-form {
  padding: 5% 10%;
}
</style>

<script>
$(document).ready(function() {
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
});
</script>

<div style="background-image: url(/images/bg-3.png); width: 100vw; color: white;">
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header" style="font-size: 10vh; color: white;">CONTACT <br/> US</h1>
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header"></h1>
  <h1 class="ui horizontal divider header"></h1>
</div>




<div class="ui">

  
  <div class="contact-form">

    <div class="ui raised segment">

      <a class="ui blue ribbon label">Questions or comments?</a>
      <br/>
      <br/>
      <br/>
      <p class="black font-5" style="font-size: 30px;">
        At WAGIO, we are constantly striving to provide the best service we can.
        Please leave any questions and comments here.
        <br/>
        <br/>
        We would love to hear from you!
      </p>
      <br/>

      
      <form class="ui form">

        <div class="field">
          <div class="field">
            <label class="font-1">Name</label>
            <input type="text" name="name" placeholder="Name">
          </div>
        </div>

        <div class="field">
          <div class="field">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email">
          </div>
        </div>

        <div class="field">
          <label>Leave your message here:</label>
          <textarea></textarea>
        </div>

        <div class="ui large buttons">
          <button class="ui button positive">SUBMIT</button>
          <div class="or"></div>
          <button class="ui button negative">RESET</button>
        </div>

      </form>
    </div>
      
  </div>
    
</div>
  

</div>



      
