<style>
  
  footer {
    background: #66CCCC;
    margin: 0 auto;
    padding: 40px 5%;
    color: white;
  }

  footer.ui.segment {
    
  }
  
  footer.ui.segment .column {
    
  }

  footer.ui.segment .column img {
    
  }
  
  footer.ui.segment a {
    
  }
</style>
      
  
  
<footer class="">

  <div class="ui two column grid" style="padding: 0; margin: 0;">
    
    <div class="left aligned column" style="">
      <h1>WAGIO FOUNDATION</h1>
    </div>

    <div class="right aligned column" style="font-size: 1.5em;">
      <i class="ui instagram circular icon"></i>
      <i class="ui linkedin circular icon"></i>
      <i class="ui twitter circular icon"></i>
    </div>

  </div>
  
  <div class="ui two column grid font-1" style="padding: 0; margin: 0;">
    
    <div class="left aligned column" style="">
      <p> HALIFAX, NS</p>
      <p> Copyright &copy; 2020 </p>
    </div>

    <div class="right aligned column" style="">
      
    </div>

  </div>
    
</footer>

