<style>
  
  footer.ui.segment {
    min-height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    color: gray;
    margin-top: 100px;
    padding: 50px 0px;
  }
  
  footer.ui.segment .column {
    padding: 0 20%;
    background: transparent;
  }

  footer.ui.segment .column img {
    height: 125px;
  }
  
  footer.ui.segment a {
    color: white;
  }
</style>
      
  
  
<footer class="ui inverted center aligned vertical segment">
  <div class="ui two column grid">
    <div class="center aligned column">
      <h1>WAGIO Foundation</h1>
      <p>Copyright, 2020</p>
      <a href="#root">Terms and Conditions</a>
    </div>
    <div class="right aligned column">
      <img src="/images/logo2.png" alt="" srcset="">
    </div>
  </div>
</footer>
    


