<style>
  
  footer.ui.segment {
    min-height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    color: gray;
    margin-top: 100px;
    padding: 50px 0px;
  }
  
  footer.ui.segment .column {
    padding: 0 20%;
    background: transparent;
  }

  footer.ui.segment .column img {
    height: 125px;
  }
  
  footer.ui.segment a {
    color: white;
  }
</style>
      
  
  
<footer class="ui inverted center aligned vertical segment">
  <div class="ui two column grid" style="padding :0;">
    <div class="center aligned column" style="border-right: 1px solid white;">
      <h1>WAGIO Foundation</h1>
      <h4>Halifax, NS</h4>
      <p>Copyright, 2020</p>
    </div>
    <div class="center aligned column"  style="border-left: 1px solid wbite;">
      <img src="/images/logo2.png" alt="" srcset=""> <br/>
      <a href="#root">Terms and Conditions</a>
    </div>
  </div>
</footer>
    


