<script>
$(document).ready(function() {
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
});
</script>


<div class="ui container">


  <h1 class="ui horizontal divider header"></h1>

    <h1 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Featured products
    </h1>
        
    <h1 class="ui horizontal divider header"></h1>
    
    
    <div class="ui special cards centered">
      <div class="card" ng-repeat="item in items" ng-if="items[$index]" style="margin: 40px;">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button">View Details</div>
              </div>
            </div>
          </div>
          <img src="{{ items[$index].image_url }}" style="width: 100%; height: auto;">
        </div>
        <div class="content">
          <a class="header" href=""> {{ items[$index].name }} </a>
          <div class="meta">
            <span class="date">Join date: Sep 2014</span>
          </div>
        </div>
        <div class="extra content">
          <a href="">
            <i class="users icon"></i>
            {{ items[$index].description }}
          </a>
        </div>
      </div>
    </div>
    
</div>

<br/>
<br/>
<br/>
    
      
